<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{>head}}
    <title>Express Tutorial</title>
  </head>
  <body>
    {{>bsnavbar}}
    <div class="container">
      {{{body}}}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/boostrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
